.modal_layer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (max-width:768px){
  .modal_layer{
    width: 100vw;
    height: 100vh;
    
  }
}

.modal {
  width: 60rem;
  height: 40rem;
  display: flex;
  z-index: 100;
  background-color: #F2E9D8;
  background-image: url(./modal/무제-1\ 1.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 6rem 10.8rem 4rem 10.8rem;
  border-radius: 3rem;
  box-sizing: border-box;

  box-shadow: 0px 0px 30px 0px #00000033;

}
@media (max-width:768px){
  .modal{
    width: 30rem;
    height: 30rem;
    box-shadow: 0px 0px 20px 0px #00000033;
    padding: 4rem 5.5rem 3rem 5.5rem;
  }
}

.img_hodu {
  width: 11rem;
  height: 11.2rem;
  margin: auto;
  margin-bottom: 2.4rem;
}
@media (max-width:768px){
  .img_hodu{
    width: 6rem;
    height: 6.2rem;
    margin-top: 4rem;
  }
}

.modal h1 {
  color: #d97652;
  width: 21.2rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin: auto;
  margin-bottom: 1.2rem;
}

@media (max-width:768px){
  .modal h1{
    width: auto;
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
}
.modal p {

  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin: auto;
  margin-bottom: 3.8rem;
}
@media (max-width:768px){
  .modal p {
    margin-bottom: 2.8rem;
  }
}

.modal button {
  color: #ffffff;
  width: 18.3rem;
  height: 5rem;
  border-radius: 4rem;
  background-color: #d97652;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  padding: 1.5rem 2.9rem;
  box-sizing: border-box;
  white-space: nowrap;
}

@media (max-width:768px){
  .modal button{
    width: 15.8rem;
    height: 4rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 1.1rem 2.4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;

  }
}
