.slide {
  position: absolute;
  display: flex;
  top: 0;
  right: -28.9rem;
  width: 28.9rem;
  height: 100vh;
  background-color: #263140;
  padding: 2.2rem 0 0 2rem;
  flex-direction: column;
  box-sizing: border-box;
  overflow:hidden;
  transition: right 0.4s ease;
}
@media (min-width:769px) {
  .slide{
    display: none;
  }
}
.slide.open{
  right: 0;
}

.button_back {
  background-color: #263140;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.slide_list {
  padding: 6.6rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}
li {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
  list-style-type: none;
}

.slide .download {
  margin-top: 2rem;
}
